<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordering Customer side UI</title>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        function submitData()
        {
            $.ajax({
                type: 'GET',
                url: '/api/order/makeorder',
                data: $('#form1').serialize(),
                error: function(request) {
                    alert("error"+request.error);
                },
                success: function() {
                    alert("Submit Success!");
                    $(".input").val('');
                },
            });
            return false;
        }
    </script>
</head>



<body style="width: 70%; margin: auto">
<h1 style="text-align:center;">Order Customer Interface</h1>

<div class = "container">
    <form id = "form1" action = "/api/order/makeorder" method = 'get' onsubmit = 'return submitData();'>
        <div>Input customer id for makeorder testing
            <input class = 'input' type = 'text' name = 'cid'>
        </div>
        <div>Input dish id for makeorder testing
            <input class = 'input' type = 'text' name = 'did'>
        </div>
        <div><input type = 'submit' value = 'submit'></div>
    </form>
</div>


<h3>My order status:</h3>

<div class = "container">
    <div class = "menu">
        <div>waiting to be confirmed:</div>
        <ul class="list-unstyled" >
            <% for(let i = 0; i < myUnconfirmed.length; i++){%>
                <li>
                    <%= myUnconfirmed[i] %>
                </li>
            <%}%>
        </ul>
    </div>
</div>
<hr>

<div class = "container">
    <div class = "menu">
        <div>preparing:</div>
        <ul class="list-unstyled" >
            <% for(let i = 0; i < myUnfinished.length; i++){%>
                <li>
                    <%= myUnfinished[i] %>
                </li>
            <%}%>
        </ul>
    </div>
</div>
<hr>

<div class = "container">
    <div class = "menu">
        <div>Finished, please take the meal:</div>
        <ul class="list-unstyled" >
            <% for(let i = 0; i < myFinished.length; i++){%>
                <li>
                    <%= myFinished[i] %>
                </li>
            <%}%>
        </ul>
    </div>
</div>
<hr>

<h3 style="text-align:center;">GET and ENJOY your meal!</h3>
<hr>

<div>
    <a href = './canteen'><button type = "button">Go to make a new order!</button></a>
</div>

</body>

</html>