<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordering Customer side UI</title>
</head>



<body style="width: 70%; margin: auto">
<h1 style="text-align:center;">Order Customer Interface</h1>

<div class = "container">
    <form>

    </form>
</div>


<h3>My order status:</h3>
<div class = "container">
    <div class = "menu">
        <ul class="list-unstyled" >
            <li>502<div>waiting to be confirmed</div></li>
            <p></p>
            <li>10<div>preparing</div></li>
            <p></p>
            <li>25<div>FINISHED: please take the meal</div></li>
            <p></p>
        </ul>
    </div>
</div>
<hr>

<h3 style="text-align:center;">GET and ENJOY your meal!</h3>
<hr>

<div>
    <a href = './canteen'><button type = "button">Go to make a new order!</button></a>
</div>

</body>

</html>